* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgba(255, 235, 205, 0.5);
}
h1 {
    text-align: center;
}
.badge {
    text-transform: uppercase;
    animation: flash 1s linear 0s infinite;
}
button {
    transition: scale 1s;
}
button:hover {
    transform: scale(1.15);
    border: 1px groove white;
}

@keyframes flash {
    0% {
        transform: none;
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: none;

    }
}
.navLink {
    display: none;
    color: rgb(168, 126, 102);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 10px;
}
.navLink:hover {
    color: white;
    background: rgba(44, 36, 8, 0.353);
    text-decoration: none;
    border-radius: 5px;
}
#showTime,
#showDate {
    font-family: serif;
    font-weight: 400;
    font-size:1.2rem;
    text-shadow: 2px 2px silver;
}
#errorMessage,
#editErrorMessage {
    color: red;
    font-variant: small-caps;
}
.done-button {
    margin: auto;
    margin-left: 2.5rem;
    padding: 1px 2px;
    background: rgb(59, 201, 59);
    border-radius: 5px;
    outline: none;
    border: 1px solid grey;
}
.done-button:hover {
    transform: none;
    border: 1px solid silver;
}
.ERROR {
    color: red;
    font-weight: 300;
    letter-spacing: 0.12rem;
    font-family: monospace;
}